body{
    background: url("images/pattern-background-desktop.svg");
    text-align: center;
    background-color: hsl(225, 100%, 94%);
    margin-top: 70px;

}
.top-container{   
    text-align: center;
    background-color: white;
    font-size: 1rem;
    width: 25%;
    margin: auto;
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 25px;
    position: relative;
    left: 10px;
}

.main_img{
    background-color:white;
    width:100%;
    margin: 0 auto 10px auto;
    border-radius: 20px 20px 0 0;
}
.info{
    width: 95%;
    margin: auto;
    line-height: 2;
}
.music_img{
    width: 50px;
    height: 50px;
    padding: 10px 40px;
    position: relative;
    right: 152px;
    bottom: 13px;
}
.plan_title{
    position: relative;
    bottom: 93px;
    right: 50px;
}
.plan_amount{
    position: relative;
    bottom: 95px;
    right: 65px;
}
.plan_change{
    position: relative;
    bottom: 145px;
    left: 150px;
    padding: 0 20px 0 0;
}

h2{
    display: block;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.our_plan{
    padding: 20px 0 0 0;
    border-radius: 30px;
    width: 100%;
    /* padding-bottom: 0px; */
    /* padding-top: 0px; */
    height: 60px;
    /* width: 50%; */
    background-color: #F6F6F6;
    border-top-width: 10px;
}
.payment{
    background-color: hsl(245, 75%, 52%);
    border-style: none;
    border-radius: 5px;
    color: white;
    padding: 10px 50px;
    text-align: center;
    font-size: 1rem;
    margin: auto;
    cursor: pointer;
    margin-top: 10px;
}
.cancel{
    background-color: hsl(225, 100%, 98%);
    border-style: none;
    border-radius: 5px;
    color: black;
    padding: 10px 70px;
    text-align: center;
    font-size: 0.9rem;
    margin: 20px 10px;
    cursor: pointer;
}
.payment:hover{
    background-color: chartreuse;
}
.cancel:hover{
    background-color: crimson;
}
.attribution{
    margin-top: 10px;
    margin-left: 25px;
}